body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,p,th,td{margin:0;padding:0;}
img{display:block;border:none;}
:focus{outline:none;}
fieldset{padding:0;margin:0;border:0;}
legend{padding:0;}
em,strong,th{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
sup,sub{font-size:100%;vertical-align:baseline;}
button{cursor:pointer;font-family: "Open Sans","Hiragino Sans GB","Microsoft Yahei", sans-serif;}
textarea{display:block;resize:none;overflow-y:auto;}
html,body{width:100%;height:100%;}
body{font:14px/1.5 "Open Sans","Hiragino Sans GB","Microsoft Yahei",sans-serif;color:#333;background-color:#FFF;min-width:460px;}
a{color:#9bd0f6;text-decoration:none;}
a:hover{color:#54aff0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}